name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Compile
      run: make
      
    - name: Run Logic Tests
      run: chmod +x test_logic.sh && ./test_logic.sh
